@import './../../shared/variables';

.container {
  margin: 32px 0 56px 0;
}

.title {
  color: darken($theme-color, 10);
  font-weight: bold;
}

.device-id {
  color: gray;
  font-size: .8rem;
  margin: 8px 0;
}

.sensor {
  display: inline-block;
  padding: 8px 16px;
  margin: 0 8px;
  font-size: .65rem;
  border-radius: 8px;
  background: lighten($theme-color, 50);
  color: darken($theme-color, 20);
}

.sensorList {
  margin: 16px -8px;
}
