@import './../../shared/variables';

.container {
  color: #444;
  padding: 24px 24px;
  margin: 16px -24px;
  border-radius: 24px;
}

.main-area {

}

.title {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.sensor-area {

}

.sensor {

}
