@import './../../shared/variables';

.search-bar {
  background-color: $background-color;
  border-radius: 8px;
  padding: 12px 0;
  text-align: center;
  font-size: .9rem;
  font-weight: 600;
  color: #8a8a8a;
}
